[submodule "imgui-sys/third-party/cimgui"]
	path = imgui-sys/third-party/cimgui
	url = https://github.com/Extrawurst/cimgui.git
[submodule "external/imgui-rs"]
	path = external/imgui-rs
	url = git@github.com:Gekkio/imgui-rs.git
